:root {
    /** Fonts **/
    --mainFont : 'Staatliches', cursive;
    --textFont: 'Open Sans', sans-serif;
    --secondaryFont : 'Raleway', sans-serif;
 
    /** Colors **/
    --primary : #FF5B00;
    --darkGray: #2F2E2E;
    --lightGray: #EBEBEB;
 
    --white: #ffffff;
    --black: #000000;
    --green: #0ee612;
    --yellow: #fbf70b;
    --orange: #ff6207;
 }
html {
    box-sizing: border-box;
    font-size: 62.5%; /* Now 10px = 1rem! */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--secondaryFont);
    font-size: 1.6rem;
    line-height: 2;
}

/** Headings **/
h1, h2, h3 {
    font-family: var(--mainFont);
    margin: .5rem 0;
    line-height: 1.2;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4.8rem;
    color: var(--primary);
}
h3 {
    font-size: 3.6rem;
}
/** Globals **/
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 120rem; /** 1200px **/
    width: 95%;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}